<%= render 'pages/home' unless user_signed_in? %>
<div id="pins" class="container transitions-enabled">
<% @pins.each do |pin| %>
    <div class="pin pin--panel panel panel-default">
      <%= link_to image_tag(pin.image.url(:medium)), pin %>
      <div class="pin--panel--description">
        <%= pin.description %>
        <%= pin.user.email if pin.user %>
      </div>
        <% if pin.user == current_user %>
          <div class="btn-group pin--panel--actions">
            <%= link_to edit_pin_path(pin) do %>
                <span class="glyphicon glyphicon-edit"></span> Edit
            <% end %>
            <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-trash"></span> Destroy
            <% end %>
          </div>
        <% end %>
    </div>
<% end %>
</div>
